.container {
    display: flex;
    justify-content: center;
    width: 90vw;
    gap: 2vw;
    margin-top: 8vh;
}

.preview-column {
    width: 30vw;
    height: 40vh;
}

.edit-page-container {
    margin-top: 10vh;
    overflow-y: auto;
    height: 88vh;
}

.editor-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2rem;
}
