.container {
    display: flex;
    justify-content: center;
    width: 90vw;
    gap: 2vw;
    margin-top: 8vh;
}

.preview-column {
    width: 30vw;
    height: 40vh;
}

.quiz-action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
    margin-top: 2vh;
}
