.title {
    margin-bottom: 1rem;
}

.answer-wrapper {
    display: flex;
    flex-direction: column;
}

.question-wrapper {
    margin: 0.25rem;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    padding: 0.05rem;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.circle.selected {
    background-color: var(--selected);
}

.button-wrapper {
    border: 0;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    background-color: white;
    margin-bottom: 0.25rem;
}

.answer-text {
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    border-color: rgb(25, 6, 6);
    padding: 0.25rem;
    text-align: left;
    width: 20rem;
    color: black;
}

.answer-text.selected {
    background-color: var(--selected);
}

input {
    width: 22rem;
}
input[type='radio'] {
    width: 10%;
}

.correct-answer-text {
    color: green;
}

@media only screen and (max-width: 960px) {
    .answer-text {
        width: 100%;
    }
    .button-wrapper {
        width: 100%;
    }
    input {
        width: 99.2%;
    }
    input[type='radio'] {
        width: 10%;
    }
}
