.import-container {
    border-style: dashed;
    border-width: thin;
    border-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 20px 0 20px;
}

.file-container {
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 4px;
}
