.btn-container {
    display: flex;
    width: 60%;
    gap: 18%;
    min-height: 10vh;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.big-title {
    font-size: 3.5vw;
    font-weight: 600;
    line-height: 1.25;
    color: white;
}

.right-component {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    align-items: end;
}

.teacher-btn {
    display: grid;
    grid-template-rows: auto auto;
    background-color: var(--main-color);
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}

.teacher-btn img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin-left: -2vw;
}

.student-btn {
    display: grid;
    grid-template-rows: auto auto;
    background-color: var(--main-color);
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}

.student-btn img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin-right: -2vw;
}

@media only screen and (max-width: 1000px) {
    .btn-container {
        width: 100%;
        gap: 5%;
    }
    .big-title {
        font-size: 8vw;
    }
}

@media only screen and (max-width: 768px) {
    .btn-container {
        width: 100%;
        gap: 5%;
    }
    .big-title {
        font-size: 8vw;
    }
}

@media only screen and (max-width: 660px) {
    .btn-container {
        width: 100%;
        gap: 5%;
    }
    .big-title {
        font-size: 7vw;
    }
}

.btn-container a:visited a:hover a:active {
    color: inherit;
}
