.btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
    gap: 5vw;
}

.homepage-btn {
    display: flex;
    width: 35vw;
    height: 30vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 8px;
    background-color: #9ebbeb;
    color: #4b4b4b;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.homepage-btn:hover {
    background-color: #85a7df;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
