.correct-answer {
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.incorrect-answer {
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}

.present-results-title {
    margin-top: 8vh;
    margin-bottom: 2vh;
    font-size: 2rem;
    font-weight: 500;
}
