.table-bordered {
    border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid black;
    padding: 8px; /* pour un peu d'espacement */
}

.correct-answer {
    background-color: lightgreen;
}

.incorrect-answer {
    background-color: lightcoral;
}
