.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container .avatar {
    max-height: 50px;
    
    align-self: center;
}

.login-container .inputs {
    width: 60%;
    padding: 2rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-text {
    color: red;
    font-size: 20px;
    font-weight: bold;
    
    padding: 1rem 1rem;
}

@media only screen and (max-width: 768px) {
    .login-container .inputs {
        width: 100%
    }
}