/* Style for search field */
input[type='text'] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 8px;
}

/* Style for quiz list */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p {
    margin-bottom: 8px;
}

h2,
h3,
.search-bar {
    margin-bottom: 16px;
}

.blue-btn {
    background-color: #007bff;
}

.red-btn {
    background-color: #dc3545;
}

.green-btn {
    background-color: #28a745;
}

.invalid-quiz {
    display: inline-block;
    color: #dc3545;
}
