.action-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.search-bar {
    width: 100%;
    margin-bottom: 3vh;
}

.quiz-card-control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 70%;
    gap: 2vh;
}

.dashboard-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 0 6vw 6vw;
    padding-top: 6vw;
}

.button-group {
    display: flex;
    gap: 1vw;
}
