.dashboard {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 30px;

    padding: 2rem 2rem;
}

.dashboard .folder {
    display: flex;
    flex-direction: row;
}

.dashboard .folder .select {
    flex-grow: 8;

    display: flex;
    align-items: center;
}

/* Select the selector to make it 100% width */
div:has(> #select-folder) {
    width: 100%;
}

.dashboard .folder .actions {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard .ajouter {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dashboard .ajouter button:first-child {
    width: 100%;
}

.dashboard .list {
    display: flex;
    flex-direction: column;
}

.dashboard .list .quiz {
    display: flex;
    flex-direction: row;

    margin-bottom: 10px;
    box-sizing: content-box;
}

.dashboard .list .quiz .title {
    flex-grow: 8;

    display: flex;
    align-items: center;

    /* reset title css */
    font-size: large;
    margin: 0;
    font-weight: 100;
    overflow: hidden;
}
.dashboard .list .quiz .title button {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.dashboard .list .quiz .actions {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}