:root {
    --main-color: #5271ff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans', sans-serif;
}

.primary-blue {
    background-color: #5271ff;
    color: #ffffff;
}

body,
html {
    height: 100%;
    width: 100%;
}

main {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
.wrapper {
    height: 100%;
}

#root {
    height: 100%;
    overflow: hidden;
}

.app {
    height: 100%;
    padding: 1rem;
}

.logo {
    position: absolute;
    cursor: pointer;
    left: 0.5rem;
    top: 0.5rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title {
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 2rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.center-v-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-v-align > * {
    padding: 10px;
}

.center-h-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-h-align > * {
    padding: 10px;
}

.text-bold {
    font-weight: bold;
}

.end-h-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.error-text {
    color: red;
}

.quit-btn {
    align-self: flex-end;
    position: absolute;
    right: 0;
    top: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.blue {
    color: #5271ff;
}
/* :root {
    --selected: rgb(201, 61, 40, 0.2);
    --submit: rgb(201, 61, 40, 0.7);
    --submit-hover: rgb(201, 61, 40, 1);
}



a,
button {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    background-color: #439cfa;
    color: #000;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 2rem;
}

.page-title {
    font-size: 4rem;
    font-weight: 500;
    margin: 1rem;
    color: #3a3a3a;
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

 



.big-btn-general-style {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 8px;
    background-color: #86abe7;
    color: #4b4b4b;
    border: none;
    cursor: pointer;
}

.selectable-text {
    user-select: text;
} */
