.gift-cheat-sheet {
    width: 30vw;
    height: 40vh;
}
.subtitle {
    color: #3a3a3a;
    margin-bottom: 2vh;
}

.question-type {
    margin-bottom: 20;
}

code {
    font-family: 'Courier New', Courier, monospace;
    padding: 2px 4px;
    border-radius: 4px;
}

pre {
    background-color: #ffffffbd;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    overflow-x: auto;
}
.code-comment {
    color: green;
}

.question-type h4 {
    margin-top: 20px;
}
